.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .add-post-button {
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .post-list {
    margin-top: 20px;
  }
  
  .post-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .post-actions {
    display: flex;
    gap: 10px;
  }
  
  .like-button,
  .share-button,
  .save-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .like-button {
    background-color: #4267B2;
    color: #fff;
  }
  
  .share-button {
    background-color: #f44336;
    color: #fff;
  }
  
  .save-button {
    background-color: #f0f0f0;
    color: #555;
  }
  
  .save-button.saved {
    background-color: #42b983;
    color: #fff;
  }
  
  .post-text {
    margin-bottom: 10px;
  }
  
  .edit-button,
  .delete-button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #555;
    cursor: pointer;
  }
  
  .post-form-container {
    margin-bottom: 20px;
  }
  
  .user-name-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .post-textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .post-button,
  .cancel-button {
    padding: 5px 10px;
    border: none;
    background-color: #4267B2;
    color: #fff;
    cursor: pointer;
  }
  
  .cancel-button {
    margin-left: 10px;
  }
  