.friend-search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

body {
  flex-direction: column;
  align-items: center;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* .title, */
/* .friend-search-container, */
.search-container,
.friend-list {
  flex-direction: column;
  align-items: center;
}

.friend-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.friend-search-container h1 {
  font-size: 100px; /* Adjust the font size as per your preference */
  font-family: Arial, sans-serif; /* Set the desired font family */
}

.center-content {
  text-align: center;
}

.search-container {
  margin-top: 150px; 
  height: 150px;
}


.search-container button {
  margin-left: 10px; 
  width: 200px;
}

/* .search-container {
  margin-bottom: 10px;
} */

.search-results ul {
  list-style-type: none;
  padding: 0;
}

/* .add-friend-button {
  margin-left: 10px;
} */

.friends-list button {
  margin-left: 10px;
  width: 200px;
}

.friends-list ul {
  list-style-type: none;
  padding: 0;
}

